/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/* LINESeedTW_OTF_Th.ttf (Thin) */
@font-face {
    font-family: 'LINESeed';
    src: url('/fonts/LINESeedTW_OTF_Th.woff2') format('woff2'), url('/fonts/LINESeedTW_OTF_Th.woff') format('woff');
    font-weight: 100; /* Thin (細體) 對應 100 */
    font-style: normal;
    font-display: swap;
}

/* LINESeedTW_OTF_Rg.ttf (Regular) */
@font-face {
    font-family: 'LINESeed';
    src: url('/fonts/LINESeedTW_OTF_Rg.woff2') format('woff2'), url('/fonts/LINESeedTW_OTF_Rg.woff') format('woff');
    font-weight: 400; /* Regular (標準) 對應 400 */
    font-style: normal;
    font-display: swap;
}

/* LINESeedTW_OTF_Bd.ttf (Bold) */
@font-face {
    font-family: 'LINESeed';
    src: url('/fonts/LINESeedTW_OTF_Bd.woff2') format('woff2'), url('/fonts/LINESeedTW_OTF_Bd.woff') format('woff');
    font-weight: 700; /* Bold (粗體) 對應 700 */
    font-style: normal;
    font-display: swap;
}

/* LINESeedTW_OTF_Eb.ttf (Extra Bold) */
@font-face {
    font-family: 'LINESeed';
    src: url('/fonts/LINESeedTW_OTF_Eb.woff2') format('woff2'), url('/fonts/LINESeedTW_OTF_Eb.woff') format('woff');
    font-weight: 900; /* Extra Bold (特粗體) 對應 900 */
    font-style: normal;
    font-display: swap;
}


/* 最後，確保您的元素有指定使用 LINESeed 字體 */
body {
    font-family: 'LINESeed', sans-serif;
}
